.venv/

__pycache__/
.ipynb_checkpoints/
.virtual_documents/

.idea/

.hypothesis/
.mypy_cache/
.ruff_cache/
.pytest_cache/

dist/

coverage.xml
.coverage*
test-report.xml

*.egg-info/

.amp/*
!.amp/services.yaml
