name: CI

permissions: {}

on:
  push:
    branches: [main]
  pull_request:
    branches: ["**"]

jobs:
  code-quality:
    name: Check coding standards
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - name: Set up uv
        uses: astral-sh/setup-uv@v2
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"
      - name: Sync
        run: uv sync --all-packages --frozen
      - name: Ruff
        run: uv run ruff format --check . && uv run ruff check .
      - name: Ty
        run: uv run ty check

  tests:
    name: Run tests
    strategy:
      matrix:
        os: [Ubuntu]
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - name: Set up uv
        uses: astral-sh/setup-uv@v2
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Sync
        run: uv sync --all-packages --frozen
      - name: Run tests
        run: ./tests.sh
      - name: Test Summary
        uses: test-summary/action@v2
        with:
          paths: "test-report.xml"
        if: always()
