name: CI

permissions: {}

on:
  push:
    branches: [main]
  pull_request:
    branches: ["**"]

jobs:
  tests-windows:
    name: Run tests on Windows
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - name: Set up uv
        uses: astral-sh/setup-uv@v2
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Sync
        run: uv sync --all-packages --frozen
      - name: Run datasets tests
        run: cd tilebox-datasets && uv run --all-packages pytest -Wall -Werror -v .
      - name: Run grpc tests
        run: cd tilebox-grpc && uv run --all-packages pytest -Wall -Werror -v .
      - name: Run storage tests
        run: cd tilebox-storage && uv run --all-packages pytest -Wall -Werror -v .
      - name: Run workflows tests
        run: cd tilebox-workflows && uv run --all-packages pytest -Wall -Werror -v .
